
<h1>Name: <%=@restaurant.name %></h1>
<p>Phone Number: <% @restaurant.phone_number %></p>
<p>Address: <%= @restaurant.address %><p>
<p>Category: <%= @restaurant.category %><p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Rating: <%= review.rating %></li>
    <li class="list-group-item">Review: <%= review.content %></li>
  <% end %>
</ul>
<br>


<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %></label><br>
<%= link_to 'Back to homepage', restaurants_path %></label><br>
